<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <!-- META TAGS FOR WHEN THINGS ARE POSTED -->
    <meta property="og:title" content="Caleb Develops">
    <meta property="og:description" content="Space Systems, Computation, Science">
    <meta property="og:image" content="/img/lenne.png">
    <meta property="og:image" content="/img/everest3.png">
    <meta property="og:image" content="/img/tedx.jpg">
    <meta property="og:url" content="calebdevelops.com">

    <meta name="twitter:title" content="Caleb Develops">
    <meta name="twitter:description" content="Space Systems, Computation, Science">
    <meta name="twitter:image" content="/img/lenne.png">
    <meta name="twitter:image" content="/img/everest3.png">
    <meta name="twitter:image" content="/img/tedx.jpg">
    <meta name="twitter:site" content="@piepieninja">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{base}}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{base}}/css/custom.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{base}}/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113889731-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113889731-1');
    </script>



    <script src="{{base}}/js/three.min.js"></script>
    <script src="{{base}}/js/DDSLoader.js"></script>
    <script src="{{base}}/js/MTLLoader.js"></script>
    <script src="{{base}}/js/OBJLoader.js"></script>

    <script src="{{base}}/js/CopyShader.js"></script>
		<script src="{{base}}/js/DotScreenShader.js"></script>
		<script src="{{base}}/js/RGBShiftShader.js"></script>
    <!-- <script scr="{{base}}/js/FilmShader.js"></script> -->

		<script src="{{base}}/js/EffectComposer.js"></script>
    <script src="{{base}}/js/ShaderPass.js"></script>
		<script src="{{base}}/js/MaskPass.js"></script>
    <script src="{{base}}/js/RenderPass.js"></script>

    <script src="{{base}}/js/jquery-1.11.0.js"></script>

</head>
