<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

    <body>
    {% include header.html %}

    <div class="content-holder">
      <div class="content-pad">
      <h2>About</h2>
      <br>
      <p>I'm a graduate student in computer science at the <a href="http://uga.edu" target="_blank">University of Georgia</a>. I
        founded the <a href="http://smallsat.uga.edu" target="_blank">University of Georgia Small Satellite Research
          Laboratory</a>, which has received grants from the USAF and NASA to build UGA's first two satellites. The first
          satellite, SPOC - the SPectral Ocean Color satellite, is slated to launch to the space station some time in 2018.
        The second satellite, MOCI - Multiview Onboard Computational Imager, does some fancy computer graphics things.
        Check out my <a href="{{base}}/research">research</a> page of details about these satellite systems or their missions.
    I also worked at NASA Johnson on an audio telemetry system for the Orion Spacecraft.
        I spoke at TEDxUGA about the future of space exploration regarding small satellites and citizen science.
        I was one of the founders of UGA's hackathon program, known as <a href="https://ugahacks.com/" target="_blank">UGA Hacks</a>.
        I lead the team that won UGA's first hackathon title. This eventually became the company known as Scientific
        Space Systems LLC, which was bought by Cosmic Delivery.
        I have worked as a beta tester for Google Glass and helped make the first <a href="https://github.com/piepieninja/gdkscoreviewer" target="_blank">musical score viewing app</a> for the device.
        I'm involved with multi-agent robotic systems research with a small research group in my lab - robots in progress.
        In my free time I'll <a href="https://github.com/piepieninja/PiePieNinja.zshrc" target="_blank">mod my terminal</a>, play with
        my old <a href="https://github.com/piepieninja/IBM-DOS-GAMES" target="_blank">IBM PS/2</a>, play kerbal space program, or eat Taco Bell.
      </p>

      <p>Feel free to checkout my <a target="_blank" href="https://github.com/piepieninja">github</a>, <a target="_blank" href="https://stackoverflow.com/users/3704230/caleb-adams">stackoverflow</a>, or <a target="_blank" href="https://www.linkedin.com/in/caleb-adams-75433168/">linkedin</a>.</p>
      <img class="img-research" src="{{base}}/img/tedx.jpg"></img>
      <img class="img-research" src="{{base}}/img/juicebox2.png"></img>
    </div>

    <!-- div.wrap
  h1(data-text="Störsignal").vhs Störsignal -->

    {% include page_script.html %}


    </body>
</html>
