<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

    <body>
    {% include header.html %}

    <div class="content-holder">
      <div class="content-pad">
      <h2>Press</h2>
      <br>
      <!-- begin the content -->
      <p>

        Below are some of the articles or interviews I have done. I have also included some things that were
        done for the <a href="http://smallsat.uga.edu" target="_blank">UGA Small Satellite Research Laboratory</a>
        and my other ventures. This list is frequently updated.

        <ul>
          <li>
            -- 2019 --
            <ul>
              <li>
                <b><a href="https://www.gpbnews.org/post/uga-launch-tissue-box-sized-satellite" target="_blank">UGA To Launch Tissue-Box Sized Satellite</a></b>
                , GPB NPR<br>
                An article about the soon to launch SPOC satellite
              </li>
            </ul>
            <ul>
              <li>
                <b><a href="https://ugaresearch.uga.edu/magazine-2/spring-2019/"  target="_blank">Space Dawgs - UGA Research Mag</a></b>
                , UGA Research Magazine <br>
                An article about the UGA Small Satellite Research Lab, its current research, and speculations on future goals.
              </li>
            </ul>
          </li>
        </ul>

        <ul>
          <li>
            -- 2018 --
            <ul>
              <li>
                <b><a href="https://news.uga.edu/space-dawgs/"  target="_blank">Space Dawgs - Georgia Mag</a></b>
                , The Georgia Magazine - Front Cover <br>
                An article about the founding of the UGA Small Satellite Research Lab and the collaboration that made it happen.
              </li>
            </ul>
            <ul>
              <li>
                <b><a href="https://www.cbs46.com/uga-going-to-space/video_47e56280-9a6b-5f0b-b800-c4a3122b09d3.html?fbclid=IwAR05KEb1SbLwwnK1biz8yqmMFgl5EdBeNF5McD7zqEGs8ebHqRRW020ncsg"  target="_blank">UGA going to space - News Broadcast</a></b>
                , CBS 46 News<br>
                A CBS 46 news broadcast that aired in late November. The broadcast features interviews from several lab members - including me.
              </li>
            </ul>
            <ul>
              <li>
                <b><a href="https://news.uga.edu/meet-some-uga18-graduates/"  target="_blank">Meet Some UGA 2018 Graduates</a></b>
                , uga.edu <br>
                An article with a focus on 2018 graduates from the University of Georgia.
              </li>
            </ul>
            <ul>
              <li>
                <b><a href="https://www.redandblack.com/uganews/uga-students-set-to-launch-a-satellite-to-space/article_92da81a4-055f-11e8-8129-4f7541980a0a.html"  target="_blank">UGA students set to launch a satellite to space </a></b>
                , The Red and Black Newspaper <br>
                An article about how the US Air Force selected our lab to launch a satellite.
              </li>
            </ul>
            <ul>
              <li>
                <b><a href="http://www.engr.uga.edu/newsroom/news/entrepreneurship-program-helps-students-turn-ideas-into-reality"  target="_blank">Entrepreneurship program helps students turn ideas into reality</a></b>
                , uga.edu <br>
                An article about how the UGA SSRL and Cosmic Delivery benefited from the Entrepreneurship program at UGA.
              </li>
            </ul>
            <ul>
              <li>
                <b><a href="http://www.onlineathens.com/local-news/2018-01-29/uga-satellite-team-step-closer-space"  target="_blank">UGA satellite team a step closer to space</a></b>
                , Athens Banner-Herald onlineathens.com <br>
                An article written about the UGA SSRL winning the AFRL's UNP NS-9 Flight Selection Review.
              </li>
            </ul>
          </li>
        </ul>

        <ul>
          <li>
            -- 2017 --
            <ul>
              <li>
                <b><a href="https://youtu.be/QDb6PAgxWv0?t=9846" target="_blank">2017 Cubesat Developer Workshop Talk</a></b>
                  A talk I have at the 2017 Cal Poly Cubesat Developer Workshop about the SPOC satellite. <br>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/QDb6PAgxWv0?start=9846" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </li>
            </ul>
            <ul>
              <li>
                <b><a href="http://www.esipfed.org/student-fellow-blog/undergraduates-develop-and-create-cubesats-at-the-university-of-georgias-small-satellite-research-laboratory"  target="_blank">Undergraduates develop and create CubeSats at The University of Georgia’s Small Satellite Research Laboratory</a></b>
                , Earth Science Information Partners www.esipfed.org <br>
                The wonderful Dr. David Cotten talking about the SSRL in a Q & A format.
              </li>
            </ul>
            <ul>
              <li>
                <b><a href="http://www.madisonjournaltoday.com/archives/9144-MCMS-students-travel-to-UGA-to-learn-about-circuits,-satellites.html"  target="_blank">MCMS students travel to UGA to learn about circuits, satellites</a></b>
                , madisonjournaltoday.com <br>
                Just some neat information on a workshop we did in the lab.
              </li>
            </ul>
          </li>
        </ul>

        <ul>
          <li>
            -- 2016 --
            <ul>
              <li>
                <b><a href="/audio/GPB_NPR_sats.mp3"  target="_blank">Small Satellites with Georiga's NPR Radio Station</a></b>
                , WUGA / NPR <br>
                An interview WUGA/NPR about climate change, small satellites, and the UGA SSRL.
              </li>
            </ul>
            <ul>
              <li>
                <b><a href="https://news.uga.edu/the-next-frontier/"  target="_blank">The Next Frontier</a></b>
                , uga.edu <br>
                An article with a focus on 2018 graduates from the University of Georgia.
              </li>
            </ul>
          </li>
        </ul>

        <ul>
          <li>
            -- 2015 --
            <ul>
              <li>
                <b><a href="https://news.uga.edu/looking-to-space/"  target="_blank">Looking to space</a></b>
                , uga.edu <br>
                  This is an article written by the University of Georgia Press, featured on the home page, about one of the
                  large remote telescopes I was building.
              </li>
              <li>
                <b><a href="https://hypepotamus.com/people/caleb-adams/"  target="_blank">Dawgs ‘n Space | UGA Junior Lands at NASA</a></b>
                , hypepotamus.com <br>
                  This is an article written about my NASA internship.
              </li>
              <li>
                <b><a href="https://www.redandblack.com/uganews/student-group-races-against-georgia-tech-to-launch-satellite-into/article_824f8d5e-7d24-11e5-8771-efc3e3e25307.html"  target="_blank">Student group races against Georgia Tech to launch satellite into space</a></b>
                , redandblack.com <br>
                  The formative years of UGA's satellite program, before the UGA SSRL existed.
              </li>
            </ul>
          </li>
        </ul>

      </p>

    </div>


    {% include page_script.html %}

    </body>
</html>
