<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

	<body>
    {% include header.html %}

    <div class="content-holder">
      <div class="content-pad">
      <h2>Press</h2>
      <br>
      <!-- begin the content -->
      <p>

        <b>CURRENTLY UNDER CONSTRUCTION</b><br><br>

        Below are some of the articles or interview I have done. I have also included anything that was
        done for the <a href="http://smallsat.uga.edu" target="_blank">UGA Small Satellite Research Laboratory</a>
        and my other ventures.

        <ul>
          <li>
            -- 2018 --
            <ul>
              <li>
                <b><a href="http://www.onlineathens.com/local-news/2018-01-29/uga-satellite-team-step-closer-space"  target="_blank">UGA satellite team a step closer to space</a></b>
                , Athens Banner-Herald onlineathens.com <br>
                An article written about the UGA SSRL winning the AFRL's UNP NS-9 Flight Selection Review.
              </li>
            </ul>
          </li>
        </ul>

        <ul>
          <li>
            -- 2017 --
            <ul>
              <li>
                <b>-</b>,
                -
              </li>
            </ul>
          </li>
        </ul>

        <ul>
          <li>
            -- 2016 --
            <ul>
              <li>
                <b>-</b>,
                -
              </li>
            </ul>
          </li>
        </ul>

        <ul>
          <li>
            -- 2015 --
            <ul>
              <li>
                <b><a href="https://news.uga.edu/looking-to-space/"  target="_blank">Looking to space</a></b>
                , uga.edu <br>
                  This is an article written by the Univeristy of Georgia Press, featured on the home page, about one of the
                  large remote telescopes I was building.
              </li>
              <li>
                <b><a href="https://hypepotamus.com/people/caleb-adams/"  target="_blank">Dawgs ‘n Space | UGA Junior Lands at NASA</a></b>
                , hypepotamus.com <br>
                  This is an article written about my NASA internship.
              </li>
            </ul>
          </li>
        </ul>

      </p>

    </div>


    {% include page_script.html %}

	</body>
</html>
