<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

	<body>
    {% include header.html %}

    <div class="content-holder">
      <div class="content-pad">

      <h2>Research</h2>
      <br>
      <p>
        I am, in some capacity, involved in all the research that occurs at the <a href="http://smallsat.uga.edu" target="_blank">UGA Small Satellite Research Laboratory</a>.
        The research listed below is research that was either/or an Author, Coauthor, or Significant Contributer:
        <br>
        <ul>
          <li>
            -- 2017 --
            <ul>
              <li>
                <b>The AIAA/Utah State Small Satellite Conference - SmallSat</b>, Logan UT <br>
                <a href="#" target="_blank">The Feasibility of Structure from Motion over Planetary Bodies with Small Satellites</a>
                A report of the near finalization of computer simulations that allow for the MOCI satellite to simulate the SfM workflow. <br>
                <i><u>Caleb Adams</u>, Nicholas (Hollis) Neel, David Cotten</i>
                <br>
                <img src="{{base}}/img/lenne.png"></img><br>
                <small>
                  An example dense pointcloud reconstruction of <a href="https://en.wikipedia.org/wiki/Linn%C3%A9_(crater)" target="_blank">linne Crater</a> on the moon.
                This was a pretty good reconstruction, simulated from a satellite orbiting ~150km above the lunar surface. The simulated optical payload was the same as MOCI's.
                </small>
                <br>
                <img src="{{base}}/img/everest1.png"></img>
                <img src="{{base}}/img/everest2.png"></img>
                <img src="{{base}}/img/everest3.png"></img>
                <br>
                <small>
                  An example of a <a href="http://www.cs.jhu.edu/~misha/MyPapers/ToG13.pdf" target="_blank">screened poisson surface reconstruction</a>, with varrying octree depth, of mount everest.
                  This was simulated with the MOCI payload, at ~400km. These are some of the expected resultes of the MOCI satellite.
                </small>
                <br>
                <img src="{{base}}/img/moci-exploded.png"></img>
                <br>
                <small>An exploded view of the MOCI payload, as of August 2017. One of the payload cameras achieves ~18m GSD, the over (which is custom to the SSRL) achieves ~6.4m GSD at ~400km.</small>
              </li>
              <li>
                <b>NASA/CASIS International Space Station Research and Development Conference</b>, Washington D.C. <br>
                <a href="http://smallsat.uga.edu/assets/docs/posters/Structure_from_Motion_from_a_Constrained_Orbit.pdf" target="_blank">Structure from Motion from a Constrained Orbiting Platform</a>
                Using ISS image data to generate cloud height models. <br>
                <i><u>Caleb Adams</u>, Nicholas (Hollis) Neel</i>
              </li>
              <li>
                <b>Cubesat Developers Conference - Cal Poly</b>, San Luis Obispo CA <br>
                <a href="http://smallsat.uga.edu/assets/docs/presentations/UGAWorkshop2017CubeSatDeveloper.pdf" target="_blank">(SP)ectral (O)cean (C)olor Satellite</a>
                An initial discription of the Hyperspectral capibilities of the SPOC satellite. <br>
                <i><u>Caleb Adams</u>, David Cotten, Deepak Mishra, Nicholas (Hollis) Neel, Graham Grable, Khoa Ngo</i>
                <img src="{{base}}/img/spoc-lens.png"></img>
                <img src="{{base}}/img/spoc-housing.png"></img>
                <br>
                <small>The SPOC optical train and lens housing, as it existed in the summer of 2017.</small>
              </li>
              <li>
                <b>UGA CURO Symposium</b>, Athens GA <br>
                <a href="http://smallsat.uga.edu/assets/docs/posters/nirav_curo_poster.pdf" target="_blank">Accuracy of Dense Point Clouds Given Varying Image Quality</a>
                An initial exploration of SfM from orbit using the MOCI satellite system. <br>
                <i><u>Nirav Ilango</u>, David Cotten, Caleb Adams, Nicholas (hollis) Neel, Margerite Madden, Deepak Mishra</i>
              </li>
              <li>
                <b>UGA CURO Symposium</b>, Athens GA <br>
                <a href="http://smallsat.uga.edu/assets/docs/presentations/Space_SFM-2017_CURO_Syposium.pdf" target="_blank">The Feasibility of Structure from Motion over Planetary Bodies with Small Satellite System</a>
                An initial exploration of SfM from orbit using the MOCI satellite system. <br>
                <i><u>Caleb Adams</u></i>
              </li>
              <li>
                <b>IGTF/ASPRS</b>, Baltamore MD <br>
                <a href="http://smallsat.uga.edu/assets/docs/posters/2017-ASPRS-IGTF-1-STEMopprotunities.pdf" target="_blank">STEM Opportunities for Undergraduates Building Nanosatellites: the NASA CubeSat Program Georgia</a>
                An overview of the programatic structure and opportunities at the UGA SSRL. <br>
                <i>D. Cotten, <u>C. Adams</u>, D. Mishra, M. Madden, S. Bernardes, K. Ngo, N. Neel, N. Ilango, M. Le Corre, G. Grable, A. King </i>
              </li>
              <li>
                <b>IGTF/ASPRS</b>, Baltamore MD <br>
                <a href="http://smallsat.uga.edu/assets/docs/posters/2017-ASPRS-IGTF-2-PayloadDevelopment.pdf" target="_blank">Building a Small Satellite Research Program at the University of Georgia: UGA Payload Development for CubeSats</a>
                A discription of the UGA SSRL SPOC payload, with a focus on remote sensing applications. <br>
                <i>D. Cotten, <u>C. Adams</u>, D. Mishra, M. Madden, S. Bernardes, K. Ngo, N. Neel, N. Ilango, M. Le Corre, G. Grable, A. King </i>
              </li>
            </ul>
          </li>
        </ul>


        <ul>
          <li>
            -- 2016 --
            <ul>
              <li>
                <b>AGU</b>, San Francisco CA <br>
                <a href="http://smallsat.uga.edu/assets/docs/posters/AGU2016-SPOC-final2.pdf" target="_blank">The SPectral Ocean Color (SPOC) Small Satellite Mission: From Payload to Ground Station Development and Everything in Between</a>
                An general overview of the SPOC satellite, pre-pdr and early phase A. </br>
                <i><u>David L. Cotten</u>, <u>Sergio Bernardes</u>, Deepak Mishra, Caleb Adams, Hollis Neel, Khoa Ngo, Megan LeCorre, Paige Copenhaver, Nirav Ilango, Adam King, Graham Grable, Paul Hwang</i>
              </li>
              <li>
                <b>AGU</b>, San Francisco CA <br>
                <a href="http://smallsat.uga.edu/assets/docs/posters/AGU2016-SSRL-final3.pdf" target="_blank">Enhancing STEM Education through CubeSats: Using Satellite Integration as a Teaching Tool at a Non-Tech School</a>
                An overview of the operations of the UGA SSRL. </br>
                <i><u>David L. Cotten</u>, <u>Sergio Bernardes</u>, Deepak Mishra, Caleb Adams, Hollis Neel, Khoa Ngo, Megan LeCorre, Paige Copenhaver, Nirav Ilango, Adam King, Graham Grable, Paul Hwang</i>
              </li>
              <li>
                <b>Georgia Scientific Computing Symposium</b>, Athens GA <br>
                <a href="http://smallsat.uga.edu/assets/docs/SymposiumPoster.pdf" target="_blank">Feasibility of Structure from Motion over Planetary Bodies using Small Satellites</a>
                A preliminary exploration of SfM from orbit using the MOCI satellite system. <br>
                <i><u>Caleb Adams</u>, David L. Cotten, Nicholas (Hollis) Neel, Kyle Hamilton, Jacob Conley, Deepak Mishra</i>
              </li>
            </ul>
          </li>
        </ul>


        <ul>
          <li>
            -- 2015 --
            <ul>
              <li>
                <b>NASA USIP</b>,
                $200k grant awarded for UGA's SPectral Ocean Color (SPOC) Satellite
              </li>
              <li>
                <b>AFRL UNP</b>,
                $180k grant awarded for UGA's Mapping and Ocean Color Imager (MOCI) Satellite
              </li>
            </ul>
          </li>
        </ul>
      </p>

      <!-- <p>
        <br>
        The research listed below is research that I helped advise/consult, but was not a primary contributer to:
        <ul>
          <li>Section In Progress</li>
        </ul>
      </p> -->
    </div>
  </div>

    {% include page_script.html %}


	</body>
</html>
