<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

	<body>
    {% include header.html %}

    <div class="content-holder">
      <div class="content-pad">
      <h2>Research</h2>
      <br>
      <p>
        I am, in some capacity, involved in all the research that occurs at the <a href="http://smallsat.uga.edu" target="_blank">UGA Small Satellite Research Laboratory</a>.
        The research listed below is research that was either/or an Author, Coauthor, Significant Contributer:
        <br>
        <ul>
          <li>
            -- 2017 --
            <ul>
              <li>
                Paige In Progress
              </li>
              <li>
                <b>International Space Station Research and Development Conference</b>,
                <a href="http://smallsat.uga.edu/assets/docs/posters/Structure_from_Motion_from_a_Constrained_Orbit.pdf" target="_blank">Structure from Motion from a Constrained Orbiting Platform</a>
                Using ISS image data to generate cloud height models.
              </li>
            </ul>
          </li>
        </ul>
        <ul>
          <li>
            -- 2016 --
            <ul>
              <li>
                Paige In Progress
              </li>
              <li>
                Page In Progress
              </li>
            </ul>
          </li>
        </ul>
        <ul>
          <li>
            -- 2015 --
            <ul>
              <li>
                <b>NASA USIP</b>,
                $200k grant awarded for UGA's SPectral Ocean Color (SPOC) Satellite
              </li>
              <li>
                <b>AFRL UNP</b>,
                $180k grant awarded for UGA's Mapping and Ocean Color Imager (MOCI) Satellite
              </li>
            </ul>
          </li>
        </ul>
      </p>

      <p>
        <br>
        The research listed below is research that I helped advise/consult, but was not a primary contributer to:
      </p>
    </div>

    <!-- div.wrap
  h1(data-text="Störsignal").vhs Störsignal -->

    {% include page_script.html %}


	</body>
</html>
